{% extends "base.html" %} 

{% block content %} 

<p>Olet kirjautunut opiskelijana nimellä {{ session.username }}</p>
<div style="display: flex; justify-content: space-between; align-items: center;">
    <a href="/logout">Kirjaudu ulos</a>
    <a href="/">Takaisin kaikkien kurssien näkymään</a>
</div>
<hr>
<div class="container-fluid">
    <h2>Katselet kurssia "{{ course.title }}"</h2>
    <br>
    <div class="row">
        <div class="col-md-6">
            <h2>Kurssin tekstimateriaali</h2>
            <div>
                {{ materials }}
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <h2>Kurssin monivalintatehtävät</h2>
                {% if multiple_choice_tasks|length == 0 %}
                <p>Kurssilla ei ole monivalintatehtäviä.</p>
                {% else %}
                <ul class="list-group">
                    {% for multiple_choice_task in multiple_choice_tasks %}
                    <li class="list-group-item">
                        <div>Kysymys: {{ multiple_choice_task.question }}</div>
                        <form action="add_new_multiple_choice_task_submission" method="POST">
                            <ul>
                                {% for option in multiple_choice_task.options %}
                                <li>
                                    {{ option.text }}
                                    <input type="hidden" name="all_options[{{ option.id }}]" value="{{ option.id }}">
                                    <input type="checkbox" name="selected_options[{{ option.id }}]" value="{{ option.id }}">
                                </li>
                                {% endfor %}
                            </ul>
                            <button type="submit" class="btn btn-primary">Lähetä vastaus</button>
                            <input type="hidden" name="course_id" value="{{ course.id }}">
                            <input type="hidden" name="task_id" value="{{ multiple_choice_task.id }}">
                            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        </form>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <br>
            <div>
                <h2>Kurssin vapaamuotoiset tehtävät</h2>
                {% if free_form_tasks|length == 0 %}
                <p>Kurssilla ei ole vapaamuotoisia tehtäviä.</p>
                {% else %}
                <ul class="list-group">
                    {% for free_form_task in free_form_tasks %}
                    <li class="list-group-item">
                        <div>Kysymys: {{ free_form_task.question }}</div>
                        <div>Vastaukseni:</div>
                        <form action="/add_new_free_form_task_submission" method="post">
                            <input type="hidden" name="task_id" value="{{ free_form_task.id }}">
                            <input type="hidden" name="course_id" value="{{ course.id }}">
                            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                            <textarea class="form-control" id="answer" name="answer" rows="5" required></textarea>
                            <br>
                            <button type="submit" class="btn btn-primary">Lähetä vastaus</button>
                        </form>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <br>
            <div>
                <h2>Lähettämäni vastaukset</h2>
                <br>
                <div>
                    <h4>Vapaamuotoiset tehtävät</h4>
                    {% if free_form_submissions|length == 0 %}
                    <p>En ole lähettänyt vapaamuotoisia tehtäviä.</p>
                    {% else %}
                    <br>
                    <ul class="list-group">
                        {% for free_form_submission in free_form_submissions %}
                        <li class="list-group-item">
                            <div>Kysymys: {{ free_form_submission.question }}</div>
                            <br>
                            <div>Vastaukseni: {{ free_form_submission.answer }}</div>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <br>
                <div>
                    <h4>Monivalintatehtävät</h4>
                    {% if multiple_choice_submissions|length == 0 %}
                    <p>En ole lähettänyt monivalintatehtäviä.</p>
                    {% else %}
                    <ul class="list-group">
                        {% for multiple_choice_submission in multiple_choice_submissions %}
                        <br>
                        <li class="list-group-item">
                            <div>Kysymys: {{ multiple_choice_submission.question }}
                            </div>
                            <br>
                            {% for option in multiple_choice_submission.options %}
                            <div>{{ option.text }} - {% if option.students_choice %}oikein{% else %}väärin{% endif %}
                            </div>
                            {% endfor %}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}