{% extends "base.html" %} 

{% block content %} 

<p>Olet kirjautunut opettajana nimellä {{ session.username }}</p>
<div style="display: flex; justify-content: space-between; align-items: center;">
    <a href="/logout">Kirjaudu ulos</a>
    <a href="/">Takaisin kaikkien kurssien näkymään</a>
</div>
<hr>
<div class="container-fluid">
<h2>Muokkaat kurssia "{{ course.title }}"</h2>
<br>
  <div class="row">
    <div class="col-md-6">
        <div>
            <h2>Kurssin kuvaus</h2>
            <div>{{ course.description }}</div>
            <br>
            <h2>Kurssin tekstimateriaali</h2>
            <form action="/update_course_materials" method="POST">
                <input type="hidden" name="course_id" value="{{ course.id }}">
                <div class="form-group">
                    <textarea class="form-control" id="materials" name="materials" rows="5">{{ materials }}</textarea>
                </div>
                <button type="submit" class="btn btn-primary">Päivitä tekstimateriaali</button>
            </form>
        </div>
        <br>
        <div>
            <h2>Kurssin tilastotietoja</h2>
            <br>

            {% if students|length == 1 %}
            <p>Kurssilla on {{ students|length }} opiskelija.</p>
            {% else %}
            <p>Kurssilla on {{ students|length }} opiskelijaa.</p>
            {% endif %}

            {% if students|length > 0 %}
            <p>Kurssin opiskelijat ovat:</p>
            <ul class="list-group">
                {% for student in students %}
                <li class="list-group-item">
                    {{ student.username }}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
        <div class="col-md-6">
            <h2>Lisää uusi monivalintatehtävä</h2>
            <p>Vastausvaihtoehtojen määrä</p>
            <form action="" method="GET">
                <input type="hidden" name="course_id" value="{{ course.id }}">
                <div>
                    <input type="number" id="new_option_count" name="option_count" min="2" max="30" value="{{ option_count }}">
                </div>
                <br>
                <div>
                    <button type="submit" class="btn btn-primary">Muuta vastausvaihtoehtojen määrää</button>
                </div>
            </form>
            <br>
            <form action="/add_new_multiple_choice_task" method="POST">
                <p>Tehtävän kysymys:</p>
                <input type="hidden" name="course_id" value="{{ course.id }}">
                <div class="form-group">
                    <textarea class="form-control" id="question" name="question" rows="3"></textarea>
                </div>
                <p>Tehtävän vastausvaihtoehdot:</p>
                <div class="form-group">
                    {% for i in range(option_count) %}
                    <div style="display: flex; align-items: center">
                        <input type="text" class="form-control" id="option{{ i+1 }}" name="options[{{ i }}][text]"placeholder="Vaihtoehto {{ i+1 }}">
                        <input type="checkbox" id="correct{{ i+1 }}" name="options[{{ i }}][is_correct]">
                        <label for="correct{{ i+1 }}">Oikein</label>
                    </div>
                    {% endfor %}
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Lisää monivalintatehtävä</button>
                <br>
                <input type="hidden" name="option_count" value="{{ option_count }}">
            </form>
            <br>
            <h2>Lisää uusi vapaamuotoinen tehtävä</h2>
            <form action="/add_new_free_form_task" method="POST">
                <p>Tehtävän kysymys:</p>
                <input type="hidden" name="course_id" value="{{ course.id }}">
                <div class="form-group">
                    <textarea class="form-control" id="question" name="question" rows="3"></textarea>
                </div>
                <p>Tehtävän arviointikriteerit:</p>
                <div class="form-group">
                    <textarea class="form-control" id="evaluation-criteria" name="evaluation_criteria" rows="5"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Lisää tehtävä</button>
                <input type="hidden" name="option_count" value="{{ option_count }}">
            </form>
            <br>
            <div>
                <h2>Kurssin monivalintatehtävät</h2>
                <ul class="list-group">
                    {% for multiple_choice_task in multiple_choice_tasks %}
                    <li class="list-group-item">
                        <div>Kysymys: {{ multiple_choice_task.question }}</div>
                        <div>Vastausvaihtoehdot:
                            <ul>
                                {% for option in multiple_choice_task.options %}
                                <li>{{ option.text }} - {{ 'oikein' if option.is_correct else 'väärin' }}</li>
                                {% else %}
                                <p>Ei vastausvaihtoehtoja.</p>
                                {% endfor %}
                            </ul>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <br>
            <div>
                <h2>Kurssin vapaamuotoiset tehtävät</h2>
                <ul class="list-group">
                    {% for free_form_task in free_form_tasks %}
                    <li class="list-group-item">
                        <div>Kysymys: {{ free_form_task.question }}</div>
                        <div>Arviointikriteerit: {{ free_form_task.evaluation_criteria }}</div>
                    </li>
                    {% endfor %}
            </div>
            <br>
            <div>
                <h2>Muokkaa kurssia</h2>
                <form action="/update_course_title" method="POST">
                    <input type="hidden" name="course_id" value="{{ course.id }}">
                    <div class="form-group">
                        <label for="title">Kurssin uusi nimi</label>
                        <input type="text" class="form-control" id="new_title" name="new_title">
                    </div>
                    <button type="submit" class="btn btn-primary">Päivitä kurssin nimi</button>
                </form>
            </div>
            <br>
            <div>
                <h2>Poista kurssi</h2>
                <form action="/delete_course" method="POST">
                    <input type="hidden" name="course_id" value="{{ course.id }}">
                    <button type="submit" class="btn btn-danger">Poista kurssi</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}