{% extends "base.html" %} 

{% block content %} 

<p>Olet kirjautunut opettajana nimellä {{ session.username }}</p>
<div style="display: flex; justify-content: space-between; align-items: center;">
    <a href="/logout">Kirjaudu ulos</a>
    <a href="/">Takaisin kaikkien kurssien näkymään</a>
</div>
<hr>
<div class="container-fluid">
<h2>Muokkaat kurssia "{{ course.title }}"</h2>
<br>
  <div class="row">
    <div class="col-md-6">
        <div>
            <h2>Kurssin tekstimateriaali</h2>
            <form action="/update_course_materials" method="POST">
                <input type="hidden" name="course_id" value="{{ course.id }}">
                <div class="form-group">
                    <textarea class="form-control" id="materials" name="materials" rows="5">{{ materials }}</textarea>
                </div>
                <button type="submit" class="btn btn-primary">Päivitä tekstimateriaali</button>
            </form>
        </div>
        <br>
        <div>
            <h2>Kurssin tilastotietoja</h2>

            {% if students|length == 1 %}
            <p>Kurssilla on {{ students|length }} opiskelija.</p>
            {% else %}
            <p>Kurssilla on {{ students|length }} opiskelijaa.</p>
            {% endif %}

            {% if students|length > 0 %}
            <p>Kurssin opiskelijat ovat:</p>
            <ul class="list-group">
                {% for student in students %}
                <li class="list-group-item">
                    <div>{{ student.username }}</div>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
        <div class="col-md-6">
            <h2>Lisää uusi tehtävä</h2>
            <form action="/add_course_task" method="POST">
                <p>Tehtävän kysymys:</p>
                <input type="hidden" name="course_id" value="{{ course.id }}">
                <div class="form-group">
                    <textarea class="form-control" id="question" name="question" rows="3"></textarea>
                </div>
                <p>Tehtävän vastauksen tyyppi:</p>
                <div>
                    <input type="radio" name="answer_type" value="open_answer" checked> Vapaamuotoinen vastaus <br>
                    <input type="radio" name="answer_type" value="multiple_choice_answer"> Monivalinta
                </div>
                <br>
                <p>Tehtävän vastaus:</p>
                <div class="form-group">
                    <textarea class="form-control" id="task-answer" name="task_answer" rows="2"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Lisää tehtävä</button>
            </form>
            <br>
            <div>
                <h2>Kurssin tehtävät</h2>
                <ul class="list-group">
                    {% for task in tasks %}
                    <li class="list-group-item">
                        <div>Kysymys: {{ task.question }}</div>
                        <div>Tyyppi: {{ 'Vapaamuotoinen vastaus' if task.answer_type == 'open_answer' else 'Monivalinta' }}</div>
                        <div>Oikeat vastaukset:
                            <ul>
                                {% for answer in task.answers %}
                                <li>{{ answer }}</li>
                                {% else %}
                                <p>Ei oikeita vastauksia.</p>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                    {% else %}
                    <p>Kurssilla ei ole tehtäviä.</p>
                    {% endfor %}
                </ul>
            </div>
            <br>
            <div>
                <h2>Muokkaa kurssia</h2>
                <form action="/update_course_title" method="POST">
                    <input type="hidden" name="course_id" value="{{ course.id }}">
                    <div class="form-group">
                        <label for="title">Kurssin uusi nimi</label>
                        <input type="text" class="form-control" id="new_title" name="new_title">
                    </div>
                    <button type="submit" class="btn btn-primary">Päivitä kurssin nimi</button>
                </form>
            </div>
            <br>
            <div>
                <h2>Poista kurssi</h2>
                <form action="/delete_course" method="POST">
                    <input type="hidden" name="course_id" value="{{ course.id }}">
                    <button type="submit" class="btn btn-danger">Poista kurssi</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}